<!DOCTYPE html>
<html>
<head>
    <title>Хайч, Чулуу, Даавуу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>✂️ 🪨 📃 Хайч, Чулуу, Даавуу</h1>
        <form method="post">
            <button type="submit" name="choice" value="чулуу">Чулуу</button>
            <button type="submit" name="choice" value="даавуу">Даавуу</button>
            <button type="submit" name="choice" value="хайч">Хайч</button>
        </form>
        <p>{{ result }}</p>
        <a href="/">Буцах</a>
    </div>
</body>
</html>
